@font-face {
  font-family: 'Chalk';
  src: url('/assets/css/chalk.ttf') format('truetype');
}
body{
    background: url('/assets/imgs/background.jpg');
    background-repeat: repeat-y;
    margin:0 auto 0 auto;
    max-width:1600px;
    width:100%;
    font-family: 'Muli', sans-serif;
    color:#14619F;
    background-position: center 0px;
    background-size: cover;
    background-attachment:fixed;
    position: relative;
}

/** General Styles **/
.blue-text{
    color:#14619F;
}
.yellow-text{
    color: #FF9933;
}
.white-bg{
    background:rgba(255, 255, 255, 0.8);
}
.blue-bg{
    background:rgba(20, 97, 159, 0.8);
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.bold-text{
    font-weight: bold;
}
.big-text{
    font-size:19px;
}
.center-text{
    text-align: center;
}
.white-text{
    color:#FFF;
}
.uppercase{
    text-transform: uppercase;
}

/****/


.chalkboard{
    font-family: 'Chalk', sans-serif;
}

.header{
    height:600px;
}
.main-logo{
    margin-top:-30px;
    margin-left:50px;
    overflow: visible;
}
.header-bar{
    height: 90px;
    margin-top:80px;
}
.name{
    margin: 13px 0 0 25px;
}

.slogan{
    font-size:25px;
    margin: 30px 30px 0 0;
}

.footer-links span a, .admin-content-header span a {
    text-decoration: none;
    color:#14619F;
}


.video-container{
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    overflow: auto;
    width: 100%;
    margin-bottom:15px;
}
.video-link{
    height:350px;
    width: 600px;
    background: #000;
    z-index: 3;
}

.video-title{
    font-size:19px;
}
.video-body{
    color:#000;
}
.video-description{
    width: 600px;
    height:350px;
}
.video-description, .video-link, .scroller-left,.scroller-right,.scroller-content{
    display: inline-block;
    vertical-align: top;
}
.scroller-left,.scroller-right{
    margin-top: 50px;
}
.scroller-content{
    width:1100px;
}
.scroller-title{
    color:#FF9933;
    font-size: 19px;
}
.scroller-body, .scroller-body p{
    color:#FFF;
}
.text-scroller{
    height: 150px;
    text-align: center;
    overflow: auto;
    width: 100%;
    margin-bottom: 15px;
}
.footer{
    text-align: center;
    background: #FFF;
}
.footer-links{
    text-transform: uppercase;
    font-size: 12px;
    padding:20px 0 20px 0;
}
.footer-links span:hover{
    font-weight: bold;
}
.footer-links span{
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    padding:0 2px 0 2px;
}
.footer-social{
    color:#FFF;
    background:#14619F;
    width:100%;
    height:100px;
}
.social-container{
    padding: 10px 0 10px 0;
    margin-left:auto;
    margin-right:auto;
    width:1100px;
    height:55px;
    line-height: 55px;
}
.social-links{
    margin-top:10px;
    margin-left:5px;
}
.content-left, .content-right{
    position:relative;
    width: 100%;
    border-bottom: 3px solid #14619F;
}
.content-left div.container, .content-right div.container{
    position:absolute;
    width:50%;
/*    text-align: center;*/
    padding-top:15px;
    z-index:2;
    top:0;
    height:100%;
}
.content-left div.container{
    left:0;
}
.content-right div.container{
    right:0;
}
.about-us-img{
    width:100%;
}

.content-title{
    font-size:18px;
    margin-bottom: 10px;
}
.strikeout-title-contain{
    margin-top:50px;
}
.strikeout-title-contain hr{
    border-top:2px solid #14619F;
    position:relative;
    height:30px;
}
.header-title-text{
    position: absolute;
    font-size: 19px;
    top: 25px;
    z-index: 3;
    background:#FFF;
    width:240px;
    margin-left:-120px;
    left:50%;
}
.alum-contain{
    text-align: left;
}
.alum-image, .alum-text{
    margin-left:25px;
    display:inline-block;
    vertical-align: top;
}
.alum-image{
    padding:0 0 15px 20px;
    width:35%;
}
.alum-image img{
    max-width: 90%;
}
.alum-text{
    max-height: 450px;
    width: 60%;
    max-width: 770px;
    word-wrap: break-word;
        
}
.alum-text-content{
    max-width: 760px;
}
.activities{
    background-image: url('/assets/imgs/separator.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
    margin-bottom: 15px;
/*    height:300px;*/
}
.activity-image{
    margin-top:25px;
    height: 250px;
    width: 200px;
    background-color: #000;
}
.activities-future .activity-image{
    margin-right: 30px;
}
.activities-past .activity-image{
    margin-left: 30px;
}
.activities-past .activity-content{
    padding-left: 30px;
}
.activities-future, .activities-past{
    width:46%;
}
.activity-text{
    width:465px;
/*    height:275px;*/
}

.sidebar{
    width: 40px; 
    position: absolute; 
    right: 0; 
    border-bottom: 3px solid #14619F;
    margin-top:120px;
}
.sidebar div{
    border-top: 3px solid #14619F;
    height:40px;
}
.sidebar img{
    width:40px;
}
.admin-container{
    margin: 40px 0;
    position: relative;
}
.admin-content{
    background: #FFF;
    width:80%;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.admin-bg{
    position: absolute;
    width: 100%;
    height:80%;
    top:10%;
    z-index: -1;
}
.announce{
    height:400px;
    padding-top:40px;
}
.announce .announce-title,.announce .announce-text{
    display:inline-block;
    vertical-align: top;
    height :400px;
    width:40%;
}
.announce .announce-title{
    font-family: 'Chalk', sans-serif;
    font-size: 40pt;
    line-height: 200px;
}
.announce-text{
    padding-left: 30px;
}
.admin-title{
    padding-top:15px;
}
.admin-col{
    margin-top:20px;
    vertical-align: top;
    height:80%;
    display: table-cell;
    width:30%;
    border-right:1px solid #14619F;
    
}
.admin-col:last-of-type{
    border-right: 0px;
}
.admin-col-text{
    padding:0 12px;
    text-align: left;
}
.admin-col-contain{
    margin:20px auto 10px auto;
    width:90%;
}
.admin-content{
    text-align: center;
    display:table;
}
.admin-content-header { width:100%; text-align:center; border-bottom: 2px solid #14619F; line-height:0.1em; margin:10px 0 20px; } 
.admin-content-header span { background:#FFF; padding:0 10px; text-transform: uppercase; }

.contact-form{
    width:670px;
    margin:0px auto 7px 50px;
    padding:30px 40px 20px 40px;
}
.contact-form label{
    display: block;
}
.contact-form input, .contact-form select{
    width:280px;
    height:30px;
    color:#000;
}

.contact-form select{
    background-color: #FFF;
    border:0;
}
.contact-row{
    margin-bottom: 30px;
}
.contact-row div{
    width:290px;
}
.contact-row textarea{
    width:568px;
    height:250px;
    color:#000;
}
.contact-row button{
    border:0;
    height:40px;
    width:120px;
    font-family: 'Muli', sans-serif;
    font-size:16px;
}
.radio-list{
    width: 100% !important;
}
.radio-list input{
    width:15px;
    height:15px;
}
.radio-list span{
    display: inline-block;
    width:40%;
    height:40px;
    line-height: 40px;
}
.radio-list label{
    margin-left: 10px;
    display:inline-block;
}
.submit-messages{
    width:100% !important;
    text-align: center;
}
.submit-messages div.error-message,.submit-messages div.success-message{
    width:80%;
    font-size: 17px;
    color:#bc0000;
    margin:0 auto;
}

.submit-messages div.success-message{
    color:#004444;
}

.content-image, .content-image img {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.contact-details{
    font-size:16px;
    padding:20px 0;
    margin:10px 0;
    background: #14619F;
}

.contact-details-box{
    padding-top:20px;
    vertical-align: top;
    border-right:1px solid #FFF;
    display:inline-block;
    width:300px;
    height:150px;
}
.contact-details-box:last-of-type{
    border-right:0;
}
.contact-details-image{
    margin-bottom: 20px;
}

.calendar-container{
    background: #FFF;
    padding:25px 0;
}

.gallery-container{
    background:#BACBD3;
    padding:40px 0;
    
}
.gallery-content{
    width:80%;
    background:#FFF;
    margin: 0 auto;
}
.gallery-image{
    display: inline-block;
    width:23%;
    height: 200px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 15px;
    background: #FFF;
    vertical-align: top;
}
.gallery-image img{
    width:100%;
}
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0;
    z-index:-1;
}
#loading {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 8%;
    left: 12%;
    margin: -28px 0 0 -25px;
    z-index: -1;
}
/** Responsive **/
.scroller-content ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 150px;
  list-style: none;
}

.scroller-content ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1100px;
  height: 150px;
  text-align: center;
  padding-top:10px;
}