.navbar{
    text-transform: uppercase;
    border-top:2px solid #FF9933;
    border-bottom: 4px solid #14619F;
    margin-bottom: 0 !important;
}
.main-menu a{
    color:#14619F !important;
    background:none !important;
    box-shadow: none !important;
    padding:5px !important;
}
.main-menu a:hover{
    font-weight: bold;
}

.navbar-brand{
    padding:4px 0 4px 7px;
    margin-right:15px;
}
.lang-select a{
    padding-left:0 !important;
    padding-right:5px !important;
}
.menu-separator a:before{
    cursor: default;
    content:"•";
}



/* Footer links */

.footer-distributed{
    background-color:#14619F;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 'Muli', sans-serif;
    padding: 10px 20px;
    overflow: auto;
}

.footer-distributed .footer-left p, .footer-distributed .footer-right p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-distributed p.footer-links{
	font-size:14px;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-soc, .footer-copy{
        display:inline-block;
        color: #ffffff;
}

.footer-copy{
    float:left;
}

.footer-soc{
    float:right;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #14619F;
	border-radius: 2px;

	font-size: 14px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

@media (min-width: 768px) {

    .navbar-nav{
        margin-left:15px;
    }
    
    .navbar-nav > li > a{
        line-height: 40px;
    }
    .footer-distributed{
        padding:0;
    }
    
    p.footer-links a, p.footer-links{
        color: #14619F !important;
    }
    .footer-left{
        background-color: #FFF;
        text-align: center;
        color:#14619F !important;
    }
    .footer-right{
        padding:0 20px 5px 20px;
    }
    .footer-right div{
        vertical-align: top;
        height:70px;
        line-height: 70px;
    }
    
    .activities{
        height:300px;
    }
    
    .activity-text{
        height:275px;
    }
    .video-description{
        margin-right:7px;
    }
}

@media (max-width: 768px) {
    .content-left div.container, .content-right div.container{
        width:100%;
        text-align: center;
        padding-top:15px;
    }
    .navbar-right{
        text-align: center;
    }
    .navbar-right li{
        display:inline-block;
        width:60px;
        padding:5px;
    }
    
    .header{
        display: none;
    }
    
    .sidebar{
        display: none;
    }
    
    .menu-separator{
        display:none !important;
    }
    
    body{
        background-repeat: no-repeat;
    }
    
    /** */
    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
    
    .footer-distributed .footer-right{
            margin-top: 6px;
            max-width: 300px;
    }
    
    .footer-soc, .footer-copy{
        display:block;
        width:100%;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .video-description, .video-link{
        max-width:300px;
        display:block;
        text-align: center;
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }
    .video-link iframe{
        width:80%;
        min-width:300px;
    }
    .activities{
        background-image: none;
        text-align: center;
        padding-top:10px;
    }
    
    .activities-future, .activities-past, .activity-image, .activity-text{
        float:none !important;
        width:100% !important;
        
        text-align: center;
    }
    .activities-past .activity-image, .activities-future .activity-image{
        margin-left:auto;
        margin-right:auto;
    }
    .activity-image{
        max-width: 300px;
    }
    .activity-content{
        padding:5px !important;
    }
    .text-scroller{
        padding-top:10px;
        position: relative;
        height:150px;
    }
    .scroller-left, .scroller-right{
        position: absolute;
        bottom:5px;
        margin-top:0 !important;
    }
    .scroller-left{
        left:30%;
    }
    .scroller-right{
        right:30%;
    }
    .scroller-content{
        width:100%;
        min-width: 300px;
        height:100px;
    }
    
    .scroller-left img,.scroller-right img{
        max-width: 40px;
    }
    
    .admin-col{
        display:block;
        width:90%;
        max-width:300px;
        border:0;
        border-bottom:1px solid #14619F;
        margin-left:auto;
        margin-right:auto;
    }
    .admin-col-title{
        margin-bottom: 10px;
    }
    /** */
    
    .alum-contain{
        text-align: center;
    }
    .alum-image, .alum-text{
        display:block;
        margin-left:0;
    }
    .alum-image{
        padding-left:0;
        text-align: center;
        width:100%;
    }
    .alum-text{
        text-align: left;
        width: 100%;
        padding:10px 15px 10px 15px;
        max-width: 290px;
    }
    .alum-text-content{
        max-width: 280px;
    }
    
    .contact-form{
        width: 100%;
        height:680px;
        margin:10px 0;
        padding:15px 10px;
        text-align: center;
    }
    
    .contact-form textarea{
        max-width: 320px;
    }
    
    .contact-row div.float-left{
        float:none;
        width:320px;
        margin:0 auto;
    }
    
    .contact-details{
        font-size:16px;
        padding:20px 0;
        margin:10px 0;
        background: #14619F;
    }

    .contact-details-box{
        margin:0 auto;
        padding-top:20px;
        vertical-align: top;
        border-right: 0;
        border-bottom: 1px solid #fff;
        display:block;
        max-width:300px;
        height:150px;
    }
    
    .contact-details-box:last-of-type{
        border-bottom:0;
    }
    
    .announce{
        height:auto;
    }
    
    .announce .announce-title,.announce .announce-text{
        display: block;
        width:100%;
    }
    .announce .announce-text{
        padding:10px;
    }
    .announce .announce-title{
        font-family: 'Chalk', sans-serif;
        font-size: 30pt;
        line-height: 50px;
        text-align: center;
        height:70px;
    }
    
    .announce-separator{
        display: none;
    }
}