/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 19, 2015, 11:56:24 PM
    Author     : Mohamad Mantach


*/
@-ms-viewport{
  width: device-width;
}
@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/Century-Gothic-Regular.ttf);
}
.CenturyGothic {
    font-family: "Century Gothic";
    font-size: 230%;
}

embed{
    display:none;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #5D5D5D;
    color: white;
    font-family: Century Gothic;
}

.MainPageContent{
	/**min-width: 1024px;
	min-height: 608px;*/
}

.HomeProductsItems{
    position: absolute;
	width: 100%;
	height: 100px;
	min-width: 1024px;
	z-index: 11;
}

.HomeProductsItemsTitle{
    position: absolute;
	width: 100%;
	min-width: 1024px;
	z-index: 11;
}

.MobHomeProductsItems{
    position: absolute;
	width: 100%;
	height: 100px;
	z-index: 9999;
}

.MobHomeProductsItems .MobProductHomeItem{
	width: 20%;
	height: 100%;
	float: left;
	position: relative;
}

.HomeProductsItems .ProductHomeItem{
	width: 20%;
	height: 100%;
	float: left;
	position: relative;
}

.HomeProductsItems .ProductHomeItem img{
	width: 65%;
	height: auto;
	position: relative;
	left: 0px;
}

.HomeProductsItemsTitle .ProductHomeItemTitle{
	float: left;
	position: relative;
}

.HomeProductsItemsTitle .ProductHomeItemTitle img{
	width: 60%;
	height: auto;
	position: relative;
	left: 0px;
}



.MobHomeProductsItems .MobProductHomeItem img{
	width: 80%;
	height: auto;
	position: relative;
	left: 0px;
}

.GeneralMainText{
	width:100%;
	position: absolute;
	top:100px;
}
.GeneralMainText .FormContactUs{
	width:50%;
	position: absolute;
	top:100px;
	left:0px;
}



  /**  .HomeProductsItems img{
        height:auto;
    }*/

  .MainMenu{
        background-color: rgba(13, 24, 28, 0.8);
        position: fixed;
        top:0px;
        height: 100px;
        width:100%;
        z-index: 99998;
        min-width: 500px;
     }
  .MobMainMenu{
        background-color: rgba(13, 24, 28, 0.8);
        top:0px;
        height: 45px;
        width:100%;
        z-index: 1000;
        min-width: 500px;
     }


.MainRow{
   position: fixed;
   top:0px;
   height: 100px;
   width:100%;
   z-index: 99999;
}
.MainRow .Logo{
    height: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
	width: auto;
}


.HomePage{
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/imgs/HomeBackground.jpg");
background-position:center;
background-repeat: no-repeat;
background-size: cover;

}
.homebar{
    z-index: 10;
    width: 100%;
	height:24%;
    background-image: url("../../../assets/imgs/bar.png");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: -1%;

}

.MobHomePage{
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/imgs/HomeBackground.jpg");
background-position:center;
background-repeat: no-repeat;
background-size: cover;
	position: relative;top:0px;

}
.MediaPage{
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/imgs/events_background.png");
background-position:center;
background-repeat: no-repeat;
background-size: cover;
background-color: white;

}
.SiteMapPage{
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/imgs/events_background.png");
background-position:center;
background-repeat: no-repeat;
background-size: cover;
background-color: white;

}
.RenderingPage{
    z-index: -1;
    width: 100%;
    height: 100%;
background-position:center;
background-repeat: no-repeat;
background-size: cover;
background-color: #c8edff;

}

.RenderingSection{
    position: absolute;
    top:20%;
}

.SiteMapTitle h2{
    color: #0075be;
    font-weight:bold;
}

.ListLinks{
    width:100%;
    list-style-type: none;
}
.ListLinks li{
    width:100%;
    list-style-type: none;
}
.ListLinks li a{
    color: #0075be;
    text-decoration: none;
}
.ListLinks li a:hover{
    text-decoration: underline;
    cursor: pointer;
}


.MediaPage .content{
    position: relative;
    top:120px;
}


.CertificatesPage{
    z-index: 9;
    width: 100%;
    background-image: url("../../../assets/imgs/events_background.png");
    background-position:center;
    background-repeat: repeat-y;
    background-size: cover;
    background-color: white;
    position: relative;
    top:0px;
    min-height: auto;

}


.SearchResultPage{
    z-index: 9;
    width: 100%;
    background-image: url("../../../assets/imgs/events_background.png");
    background-position:center;
    background-repeat: repeat-y;
    background-size: cover;
    background-color: white;
    position: relative;
    top:0px;
    min-height: auto;

}

.SearchResultList{
	width: 98%;
	list-style-type: none;
	position:absolute;
	top:100px;
	left: 0px;
	padding-left: 0px;
}
.SearchResultList li{
	width: 100%;
	height: 200px;
	margin:4px;
}


.CareersPage{
    z-index: 0;
    width: 100%;
    background-image: url("../../../assets/imgs/events_background.png");
    background-position:center;
    background-repeat: repeat-y;
    background-size: cover;
    background-color: white;
    position: relative;
    top:0px;
    min-height: auto;

}

.MobCareersForm{
    position: absolute;
    top:100px;
}

.LabelField{
    font-weight: bold;
}

.CareersForm
{
    height: 90%;
    background-color: #0075be;
    top:100px;
    position: relative;
}

.ContactusForm{
    width:100%;
}



.CertificatesImages{
    list-style-type: none;
    width:80%;
    height: 100%;
    position: absolute;
    padding-top:10%;
	left: 10%;
}
.CertificatesImages .Item{
    width: 200px;
    float: left;
    margin: 30px;
    border-style: solid;
    border-width: 0px;
    height: 254px;
    position: relative;
    cursor: pointer;

}
.CertificatesImages .Item img.Cover{
   height: 269px;
   width: 200px;
   padding: 23px;
    z-index: 7;
}
.CertificatesImages .Item img.Frame{
   height: 269px;
   width: 200px;
   position: absolute;
   top:0px;
   z-index: 10;
   box-shadow: 3px 3px 16px black;

}


.CertificatesImages .MobItem{
    width: 75px;
    float: left;
    margin: 10px;
    border-style: solid;
    border-width: 0px;
    height: 95px;
    position: relative;
    cursor: pointer;

}
.CertificatesImages .MobItem img.Cover{
   height: 95px;
   width: 75px;
    z-index: 7;
}
.CertificatesImages .MobItem img.Frame{
   height: 95px;
   width: 75px;
   position: absolute;
   top:0px;
   z-index: 10;
   box-shadow: 3px 3px 16px black;

}

.ContactUsPage{
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/imgs/contactus_background.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
}
.ContactContent{
    z-index: 15;
    width: 100%;
    height: 700px;
    min-height: 100%;
    background-color: rgba(0, 97, 167, 0.7);
    left: 0px;
    position: relative;
    background-size: cover;
}

.MobContactContent{
    z-index: 15;
    width: 100%;
    height: 700px;
    min-height: 100%;
    background-color: rgba(0, 97, 167, 0.7);
    left: 0px;
    position: relative;
    background-size: cover;
}

.MobTextContact{
    font-size: 12px;
    color:white;
}

.SearchBar{
    width: 100%;
    position: fixed;
    top:100px;
    left: 0px;
    z-index: 1000;

}
.SearchBar .txtSearch{
  float: right;
}

.MobLabelContactUsForm{
    color:white;
    font-size: 12px;
}
.LabelContactUs{
    font-size: 18px;
    text-transform: uppercase;
}

.ProductsPage{
    z-index: -1;
    width: 100%;
    height: 85%;
}
.ProfilePage{
    z-index: -1;
    width: 100%;
}
.ProfileItem{
    width:100%;
    height: 500px;
    min-height: 500px;
    overflow: hidden;
    position: relative;
    border-top:solid 3px #0075BE;
	 background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ProfileItem img{
     z-index: -999;

}
.ProfileItem .descriptionBackground{
    width:45%;
    background-color: rgba(0,97,167,0.6);
   z-index: 999;
   position: absolute;
   top: 0px;
   font-family:Century Gothic;
   padding: 30px;
   font-size: 16px;
	font-weight: bold;	

}
.ProfileItem .descriptionBackground .Title{
    font-size: 20px;
    font-weight: bold;
    color:white;
    font-family:Century Gothic;
}

.CatTitle{
    background-color: rgba(15,25,32,0.7) ;
    z-index: 10;
    filter: alpha(opacity=70);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.CatTitle .CategoryTitle h2
{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    width:100%;
    left:0px;
	padding-bottom:10px;
}
.MsCatTitle{
    background-color: rgba(0,117,190,0.8) ;
    z-index: 10;
    position: relative;
    top: -34%;
    width:100%;
    height:34%;
}

.MsCatTitle .CategoryTitle h2
{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    width:100%;
    left:0px;
}




ul.ProductsCat
{
    width: 100%;
    list-style-type: none;
    float: left;
    padding-left: 0px;
    margin-bottom: 0px;
}
ul.ProductsCat li
{
    float: left;
    width:20%;
    overflow: hidden;
    height: 100%;
}

.WebsiteFooter{
    width: 100%;
    height:15%;
    background-color: #16303A;
    z-index: 9999;
	position: relative;
}
.FooterMenu{
    width: 100%;
    height:75%;
    background-color: #DADFE2;
}
.TextHomePage{
    width:28%;
    height: 32%;
    position: relative;
    top:20%;
    left: 5%;
    font-size: 2vmin;
	max-height: 32%;
}
.MobTextHomePage{
    width:28%;
    height: 20%;
    position: relative;
    top:30%;
    left: 5%;
    font-size: 8px;
}
.MobTextHomePage .title{
    width: 100%;
    font-size: 16px;
    text-shadow: 3px 3px #000;
}

.MobTextHomePage .text{
    width: 100%;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: justify;
    line-height: 10px;
}


.TextHomePage .text{
    width: 100%;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: justify;
    line-height: 25px;
}
.TextHomePage .title{
    width: 100%;
    font-size: 36px;
    text-shadow: 3px 3px #000;
}
.MobReadMoreBtn{
     box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 50px;
    height: 10px;
    background-color: #0075be;
    color: white;
    border-radius: 0px;
    text-transform: uppercase;
	font-size: 4px;
	padding-left: 10px;
	padding-right: 10px;
	border:solid 0px;
}

.ReadMoreBtn{
    box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 120px;
    height: 32px;
    background-color: #0075be;
    color: white;
    border-radius: 0px;
    text-transform: uppercase;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}
.BtnProducts{
    width:100%;
    position: relative;
    top:30%;
}
.BtnBrochure{
    width:100%;
    position: relative;
    top:30%;
    padding-top: 4px;
}
.rightDescriptionBlock {
    width: 100%;
    height: 450px;
    background-color: #007DC6;
    border-bottom: solid 3px #0061A7;
    overflow: hidden;
}
.rightDescriptionBlock  .BigImageItem {
  padding-right: 3px;
}

.MobrightDescriptionBlock {
    width: 100%;
    height: 350px;
    background-color: #007DC6;
    border-bottom: solid 3px #0061A7;
    overflow: hidden;
	font-size: 8px;
}
.MobrightDescriptionBlock  .BigImageItem {
  padding-right: 3px;
}


.leftDescriptionBlock {
    width: 100%;
    height: 450px;
    background-color: #007DC6;
     border-bottom: solid 3px #0061A7;
     overflow: hidden;
}
.leftDescriptionBlock  .SmallItem {
  padding-right: 3px;
}

.MobleftDescriptionBlock {
    width: 100%;
    height: 350px;
    background-color: #007DC6;
     border-bottom: solid 3px #0061A7;
     overflow: hidden;
	font-size: 8px;
}
.MobleftDescriptionBlock  .SmallItem {
  padding-right: 3px;
}

.ProductTitle{
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    top:20px;
}
.ProductMoreDescription{
 z-index: 10px !important;
}
.ProductTitle a{
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.MoreDescription{
	overflow: auto;
	height:450px;
}
.ProductDescription{
    width: 100%;
    font-size: 14px;
    position: relative;
    top:20px;
    min-height: 300px;
}

.ListImageItems{
    list-style-type: none;
    width: 100%;
    padding: 0px;

}
.ListImageItems li{

}
.ListImageItems .BigImageItem{
    width: 60%;
    height: 450px;
    float: left;
}
.ListImageItems a{
    width: 100%;
    height: 100%;
}
.ListImageItems .SmallItem{
    width: 38%;
    height: 225px;
    float: left;
}

.SubMenuList{
    width: 100%;
    padding-left: 0px;
    top:0px;
    position: relative;
}
.SubMenuList div{
    background-color: #007DC6;
    color: white;
    float: left;
    height: 50px;
    vertical-align: middle;
}
.SubMenuList div a{
    color: white;
    text-transform: uppercase;
    top:15px;
    position: absolute;
}
.SubMenuList div a:hover{
   text-decoration: none;
   cursor: pointer;
}
.SeondCategories{
	position: absolute;
	z-index: 7000;
	width: 100%;
}
.ListProducts{
	z-index: 99999;
	position: relative;
}
.CloseBtn{
    width:50px;
    height:50px;
    background-color: #007DC6;
    color:white;
    border-radius: 100px;
    border:solid 0px;
    top:0px;
    left:96%;
    position: absolute;
}
.MoreDescriptionL{
    width:50px;
    height:50px;
    background-color: #16303A;
    color:white;
    border-radius: 100px;
    border:solid 0px;
    left:-8%;
    top:225px;
    position: absolute;
	overflow: auto;
}
.MoreDescriptionR{
    width:50px;
    height:50px;
    background-color: #16303A;
    color:white;
    border-radius: 100px;
    border:solid 0px;
    left:101%;
    top:225px;
    position: absolute;
    z-index: 10;
}

.btnViewProduct{
     box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 138px;
    height: 32px;
    background-color: #0075be;
    color: white;
    border-radius: 0px;
    text-transform: uppercase;
    opacity: initial;
}
.btnViewProduct:hover{
    box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 138px;
    height: 32px;
    background-color:white;
    color: #0075be;
    border-radius: 0px;
    text-transform: uppercase;
}





.btnContactus{
    box-shadow: 0px;
    cursor: pointer;
    width: 138px;
    height: 32px;
    background-color:white;
    color: #0075be;
    border-radius: 0px;
    text-transform: uppercase;
}


.btnViewProductClick{
    box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 138px;
    height: 32px;
    background-color:white;
    color: #0075be;
    border-radius: 0px;
    text-transform: uppercase;
}


.btnViewBrochure{
    box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 138px;
    height: 32px;
    background-color: #0075be;
    color: white;
    border-radius: 0px;
    text-transform: uppercase;
}
.btnViewBrochure:hover{
    box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 138px;
    height: 32px;
    background-color:white;
    color: #0075be;
    border-radius: 0px;
    text-transform: uppercase;
}



.btnViewBrochureClick{
    box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 138px;
    height: 32px;
    background-color:white;
    color: #0075be;
    border-radius: 0px;
    text-transform: uppercase;
}


.RightButtons{
    width:43px;
    height:98px;
    position: fixed;
    z-index: 1000000;
}

.RightButtons ul{
    width:43px;
    list-style-type: none;
}
.RightButtons ul li{
    width:43px;
    float: left;
    cursor: pointer;
}


.MobRightButtons{
    width:43px;
    height:98px;
    position: fixed;
    left:95%;
    z-index: 1000000;
}

.MobRightButtons ul{
    width:100%;
    list-style-type: none;
}
.MobRightButtons ul li{
    width:100%;
    float: left;
    cursor: pointer;
}


.ProductItem {
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    cursor: pointer;
}
.ProductItemTitle{
	 transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}

.ProductItem:hover{
    transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
}

.CareersDescription{
    color: #0075be;
}

.view-first img {
   transition: all 0.2s linear;
}
.CertificatesImages .view-first .mask {
    opacity: 0;
    background-color: #0075be;
    transition: all 0.4s ease-in-out;
    z-index:8;
    position: absolute;
    top:50%;
    width:100%;
    height: 20%;
}
.CertificatesImages .view-first h2 {
    transform: translateY(-25%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
     z-index: 8;
     top:27%;
     position: absolute;
     left: 22%;
     font-size: 12px;
}


.MobItem .mask {
    opacity: 0;
    background-color: #0075be;
    transition: all 0.4s ease-in-out;
    z-index:8;
    position: absolute;
    top:45%;
    width:100%;
    height: 20%;
}
.MobItem h2 {
    transform: translateY(-25%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
     z-index: 8;
     top:45%;
     position: absolute;
     left: 10%;
     font-size: 12px;
}


.view-first p {
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}

.view-first:hover img {
	transform: scale(1.1);
}
.view-first:hover .mask {
	opacity: 0.8;
}
.view-first:hover h2,
.view-first:hover p{
    opacity: 1;
    transform: translateY(-100%);
}
.view-first:hover p {
    transition-delay: 0.1s;
}

.PresenceTextSection{
    width:18%;
    height:35%;
    position: absolute;
    top:60%;
    left:4%;
}
.PresenceTextSection .Title
{
    font-size: 24px;
    font-weight: bold;
    color: #0075be;
}
.PresenceTextSection .Text
{
    font-size: 1.5vmin;
    color: #0075be;
    text-align: justify;
    border-top: solid 2px #0075be;
}



.MobPresenceTextSection{
    width:18%;
    height:35%;
    position: absolute;
    top:18%;
    left:4%;
}
.MobPresenceTextSection .Title
{
    font-size: 10px;
    font-weight: bold;
    color: #0075be;
}
.MobPresenceTextSection .Text
{
    font-size: 6px;
    color: #0075be;
    text-align: justify;
    border-top: solid 2px #0075be;
}


.ProductCatItem img {
   transition: all 0.2s linear;
   width:100%;
}
.ProductCatItem .mask {
    opacity: 0;
    background-color: #0075be;
    transition: all 0.4s ease-in-out;
    position: relative;
    top: -34%;
    width:100%;
    height:34%;
}
.ProductCatItem h2 {
    transform: translateY(-25%);
    opacity: 1;
    transition: all 0.2s ease-in-out;
     z-index: 8;
     top:0%;
     position: absolute;
     left: 10%;
     font-size: 12px;
}
.ProductCatItem p {
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}

.ProductCatItem:hover img {
	transform: scale(1.1);
}
.ProductCatItem:hover .mask {
	opacity: 0.8;
         transform: translateY(0%);
}
.ProductCatItem:hover h2,
.ProductCatItem:hover p{
    opacity: 1;
    transform: translateY(-100%);
}
.ProductCatItem:hover p {
    transition-delay: 0.1s;
}


/*** Mobile MainRow ***/
.MobMainPageContent{
   /** height: 100%;
    width:100%;*/

}


.MobMainRow{
   position: fixed;
   top:0px;
   height: 100px;
   width:100%;
   z-index: 99999;
}
.MobMainRow .Logo{
    height: 36px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.MobMainRow a{
    color:#C8D2D9;
    font-family: Century Gothic;
    font-size: 4px;
    text-transform: uppercase;
}
.MobMainRow a:hover{
    color:#0075BE;
    font-family:Century Gothic;
     font-size: 4px;
     font-weight: bold;
     text-transform: uppercase;
}

.MobRightMenu{
    width:100%;
    list-style-type: none;
    padding:0px;
    position: relative;
    top:3%;

}
.MobRightMenu li{
    width:20%;
    list-style-type: none;
    float: left;
    font-size: 8px;
}
.MobRightMenu li img{
    cursor: pointer;
    height: 6px;
}

.MobRightMenuTitle{
    width:100%;
    list-style-type: none;
    padding:0px;
    position: relative;
    top:15%;

}
.MobRightMenuTitle li{
    width:20%;
    list-style-type: none;
    float: left;
    font-size: 8px;
}
.MobRightMenuTitle li img{
    cursor: pointer;
    height: 6px;
}


.MobMenu{
    list-style-type: none;
    width: 100%;
    position: absolute;
    left: 12px;
}
.MobMenu li{
    float: left;
}
.MobMenu li a{
    text-decoration: none;
}


.inline-block {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
}
.normal {
  letter-spacing: normal;
  word-spacing: normal;
}
.MobMenuItem{
    color: white;
}

.MobFooter{
     top: 0%;
     height:8%;
    background-color: #16303A;
    z-index: 99990;
    position: relative;
    width: 100%;
}
.MobFooterMenu{
    width: 100%;
    height:75%;
    background-color: #DADFE2;
}
.FooterMobMenuItem{
      text-decoration: none;
    text-transform: uppercase;
    font-size: 4px;
    color: #16303A;
}
.FooterMobMenuItem:hover{
      text-decoration: underline;
    text-transform: uppercase;
    font-size: 4px;
    color: #16303A;
}


.MobProfileItem img{
    width:100%;
    z-index: -999;
}
.MobProfileItem .descriptionBackground{
    width:45%;
    background-color: #0061A7;
    opacity: 0.6;
   filter: alpha(opacity=60);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
   z-index: 999;
   position: absolute;
   top: 0px;
   font-family:Century Gothic;
   padding: 30px;
   font-size: 6px;

}
.MobProfileItem .descriptionBackground .Title{
    font-size: 8px;
    font-weight: bold;
    color:white;
    font-family:Century Gothic;
}


.MobProfileItem{
    width:100%;
    height: 200px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    border-top:solid 3px #0075BE;
	 background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.MobCatTitle{
    background-color: rgba(15,25,32,0.7) ;
    z-index: 999;
    filter: alpha(opacity=70);
}

.MobCatTitle .CategoryTitle h2
{
    font-size: 6px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    width:100%;
    left:0px;
}
.MobCatTitle mask{
    width:18%;
}
.MobbtnViewProduct{
     box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 60px;
    height: 15px;
    background-color: #0075be;
    color: white;
    border-radius: 0px;
    text-transform: uppercase;
    opacity: initial;
    font-size: 4px;
	border:solid 0px;
}
.MobbtnViewProduct:hover{
    box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 60px;
    height: 15px;
    background-color:white;
    color: #0075be;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 4px;
}

.MobbtnViewBrochure{
    box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 60px;
    height: 15px;
    background-color: #0075be;
    color: white;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 4px;
	border:solid 0px;
}
.MobbtnViewBrochure:hover{
    box-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 60px;
    height: 15px;
    background-color:white;
    color: #0075be;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 4px;
}

ul.MobProductsCat
{
    width: 100%;
    list-style-type: none;
    float: left;
    padding-left: 0px;
    margin-bottom: 0px;
}
ul.MobProductsCat li
{
    float: left;
    width:19%;
    overflow: hidden;
    height: 100%;
}


.MobProductCatItem img {
   transition: all 0.2s linear;
   width:100%;
}
.MobProductCatItem .mask {
    opacity: 0;
    background-color: #0075be;
    transition: all 0.4s ease-in-out;
    z-index:0;
    position: absolute;
    top:65%;
    width:20%;
    height:23%;
}
.MobProductCatItem h2 {
    transform: translateY(-25%);
    opacity: 1;
    transition: all 0.2s ease-in-out;
     z-index: 8;
     top:0%;
     position: absolute;
     left: 10%;
     font-size: 12px;
}
.MobProductCatItem p {
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}

.MobProductCatItem:hover img {
	transform: scale(1.1);
}
.MobProductCatItem:hover .mask {
	opacity: 0.8;
         transform: translateY(0%);
}
.MobProductCatItem:hover h2,
.MobProductCatItem:hover p{
    opacity: 1;
    transform: translateY(-100%);
}
.MobProductCatItem:hover p {
    transition-delay: 0.1s;
}


.MobSubMenuList{
    width: 100%;
    padding-left: 0px;
    top:0px;
    position: relative;
}
.MobSubMenuList div{
    background-color: #007DC6;
    color: white;
    float: left;
    height: 45px;
    vertical-align: middle;
}
.MobSubMenuList div a{
    color: white;
    text-transform: uppercase;
    top:15px;
    position: absolute;
    font-size: 9px;
}
.MobSubMenuList div a:hover{
   text-decoration: none;
   cursor: pointer;
}
.MobViewProductLink{
    font-size: 9px;
}


.gsc-result-info {
    text-align: left;
    color: #999;
    font-size: 12px;
    padding-left: 8px;
    margin: 10px 0 10px 0;
}
.gs-result .gs-title, .gs-result .gs-title *{
    color: #3083A3;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.gs-result .gs-visibleUrl {
    color: #0052FF;
    text-decoration: none;
}
.gs-result .gs-snippet {
    font: 12px Tahoma, Geneva, sans-serif;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    cursor: pointer;
    color: #07AD00;
    text-decoration: none;
    margin-right: 5px;
    display: inline;
    border: 1px solid #DDD;
    padding: 2px 5px 2px 5px;
}

.MainMenuBlock{
	width:98%;
	height: 100px;
	position: relative;
}

.LogoBlock{
	height: 100%;
}
.RightMenuBlock{
	width:20%;
	height: 100%;
}
.CenterMenuBlock{
	height: 100%;
	/**min-width: 689px;*/
}
.MobCenterMenuBlock{
	height: 100%;
}

.RightMenu{
    width:55%;
    list-style-type: none;

}
.RightMenu li{
    width:20%;
    list-style-type: none;
    float: left;

}
.RightMenu li img{
    cursor: pointer;

}

.LeftMenu{
	width: 100%;
	position: relative;
	padding: 0px;
}

.LeftMenu li{
	float: left;
	list-style-type: none;
	white-space: nowrap;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}

.MainRow a{
    color:#C8D2D9;
    font-family:"Century Gothic";
   font-size: 12px;
    text-transform: uppercase;
}
.MainRow a:hover{
    color:#0075BE;
   	font-family:"Century Gothic";
   	font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.FooterMainBlock{
	width: 98%;
	height: 100%;
	position: relative;
}

.FooterMainBlock .CertificationsBlock{
	width:15%;
	position: absolute;
	left: 0%;
	height: 100%;
}

.FooterMainBlock .SocialMediaBlock{
	width:15%;
	position: absolute;
	left: 85%;
	height: 100%;
}
.FooterMainBlock .MenuBlock{
	width:70%;
	position: absolute;
	left: 15%;
	height: 100%;
}

.FooterMainBlock .MenuBlock .menu{
	width:100%;
	list-style-type: none;
	position: relative;top:20%;
}
.FooterMainBlock .MenuBlock .menu .FooterItem{
	list-style-type: none;
	float: left;
	white-space: nowrap;
}

.FooterMainBlock .CertificationsBlock .FooterCert{
	width:100%;
	list-style-type: none;
}


.FooterItem a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5vmin;
    color: #16303A;

}
.FooterItem a:hover{
    font-weight: bold;
}


.sliderHome {
    width:40%;
	float: right;
		left: 50%;
    position: absolute;
    top: 100px;
	overflow: hidden;
}
.sliderHome ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.sliderHome li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.sliderHome img {
    display: block;
    height: auto;
    max-width: 100%;
	position: relative;
	left: 10%;
}


/** Mob Lang */

.MobChangeLang{
	width:8px;
}
.MobChangeLangLink{
	font-size:8px;
	position: absolute;
	top:55%;
	text-decoration: none;
}
