/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 15, 2015, 11:12:48 AM
    Author     : USER
*/


.LogInPanel{
	width:350px;
	height:262px;
	display: block;
	width: 350px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f4f4f4));		/* for chrom and safari */
	background: -moz-linear-gradient(top, #f7f7f7, #f4f4f4);											/* for Mozilla */
	background: -o-linear-gradient(top,#f7f7f7,#f4f4f4);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f7f7, endColorstr=#f4f4f4);			/* IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f7f7, endColorstr=#f4f4f4)";
	border-radius: 8px 8px 8px 8px;
	box-shadow: 0 0 3px 3px #C9C9C9;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 25px;
	padding-bottom: 15px;
}

.LogInPanel label {
    font-size: 20px;
    font-weight: normal;
}

.LogInPanel .FieldName {
    color: #022a44;
    font-size: 12px;
}

.YoututbePreview{
    width:200px;
    height:150px;
    vertical-align: middle;
    text-align: center;
}
.YoututbePreview img{
}