@-webkit-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@viewport{width:device-width;}
@font-face{font-family:"Century Gothic";src:url(../fonts/Century-Gothic-Regular.ttf);format('embedded-opentype')}
.CenturyGothic{font-family:"Century Gothic";font-size:230%;}
@font-face{font-family:"BankGothicBT-Light";src:url(../fonts/BankGothicBT-Light.ttf);format('embedded-opentype')}
.CenturyGothic{font-family:"BankGothicBT-Light";font-size:230%;}
@font-face{font-family:"BankGothicBT-Medium";src:url(../fonts/BankGothicBT-Medium.ttf);format('embedded-opentype')}
.CenturyGothic{font-family:"BankGothicBT-Medium";font-size:230%;}
@font-face{font-family:"HelveticaNeue-Bold";src:url(../fonts/HelveticaNeue-Bold.ttf);format('embedded-opentype')}
.HelveticaNeue{font-family:"HelveticaNeue-Bold";font-size:230%;}
body{background-color:#E4E4E3 !important;font-family:"Century Gothic";max-width:100%;overflow-x:hidden !important}
.MainMenu{width:100%;height:111px;}
.MainMenu .TopLineMenu{width:100%;height:11px;background-color:white;}
.MainMenu .SecondLineMenu{width:100%;height:2px;background-color:#8CC63E;}
.MainMenu .Menu{width:100%;height:96px;background-color:rgba(255,255,255,0.6);}
.MainMenu .Menu ul{float:right;list-style-type:none; min-width: 682.5px;position:relative;padding-right:30px;}
.MainMenu .Menu ul li{float:left;position:relative;height: 96px;}
.MainMenu .Menu ul li span{display:table-cell;vertical-align:middle;height: 96px;}
.MainMenu .Menu ul li span a{text-decoration:none;color:#0D6485;font-size:2.2vmin;font-family:"BankGothicBT-Light";}
.MainMenu .Menu ul li span a:hover{color:#8CC63E;}
.HomePageSection{width:100% ;z-index:2;}
.HomePagebanner{position:relative;overflow:auto;width:100%;}
.HomePagebanner ul{list-style-type:none;padding:0px;}
.HomePagebanner ul li{float:left;padding:0px;left:-11px;position:auto;list-style-type:none;}
.HomePagebanner .dots{bottom:20px;left:0;position:absolute;right:0;z-index:350;}
.AboutUsTextSection{position:relative;width:100%;min-height:620px;z-index:0;overflow:hidden;background-color:#CCDDE7}
.LiItem{white-space:nowrap;margin-left:3px;margin-right:3px;text-align:center;}
.HomePagebanner .dots li{border:2px solid #fff;border-radius:6px;cursor:pointer;display:inline-block;height:10px;margin:0 4px;opacity:0.4;text-indent:-999em;transition:background 0.5s ease 0s, opacity 0.5s ease 0s;width:10px;}
.HomePagebanner .dots li.active{background:#0D6485 none repeat scroll 0 0;opacity:1;border:0;}
.LogoHolder{position:absolute;top:17px;margin-left: 30px;margin-top: 10px;}
.FooterSection{width:100%;height:20px;bottom:0;position:absolute;float:left;left:0;background-color:white;}
.AboutUsSection{width:100%;height:620px;z-index:2;}
.AboutUsSection .AboutText{width:670px;height:320px;position:absolute;top:25%;left:0px;z-index:999;background-color:white;font-family:Trebuche;font-size:14px;opacity:0.9;filter:alpha(opacity=90);padding-left:75px;padding-top:35px;padding-right:30px;}
.AboutUsSection img{width:100%;height:100%;}
.MAboutUsSection{width:100%;height:350px;position:absolute;top:110px;left:0px;z-index:-20;overflow:hidden;color:white;}
.InformationSection{width:100%;height:120px;position:relative;left:0px;z-index:1000;background-color:#0D6485;border-bottom:solid 1px white;}
.SocialMediaButtons{height:85px;background-color:#004A65}
.MInformationSection{position:relative;left:0px;z-index:1000;background-color:#004A65;display: none}
@media screen and (max-width: 991px) {
    .MInformationSection {
    display: block !important;
    }

    .InformationSection {
    display: none !important;
    }
}

.OurOfficeSection{
    background-image: url('../../assets/imgs/background.jpg');
    background-size: cover;
    height: 580px;
    width:100%;
}

.SocialMediaSection{width:100%;height:34px;text-align:center;position:relative;z-index:9998;}
.SocialMediaSection ul{left:42%;list-style-type:none;position:absolute;top:-4px;width:400px;z-index:5;}
.SocialMediaSection .whiteline{width:100%;height:2px;background-color:white;top:51%;position:absolute;z-index:2;}
.SocialMediaSection ul li{list-style-type:none;position:relative;float:left;z-index:10;cursor:pointer;padding:4px;}
.SocialMediaSection ul li img{position:relative;}
.LstContactUs{list-style-type:none;z-index:5;margin-top:18px;padding-left: 0px;}
.LstContactUs li{list-style-type:none;position:relative;float:left;z-index:10;cursor:pointer;padding:4px;}
.ContactusSection{}
.ClientsSection{width:100%;height:168px;overflow:hidden;}
.ClientsSlideShow{width:100%;height:428px;position:relative;top:0px;left:0px;overflow:hidden;}
.ScopeSection{width:100%;max-height:633px;height:575px;left:0px;background-color:#FFFFFF;}
.ScopeSection .firstrow{width:100%;height:267px;position:absolute;top:40px;left:0px;background-color:white;}
.ScopeSection .secondrow{width:100%;height:267px;position:absolute;top:318px;left:0px;background-color:white;}
.ScopeMainBox{background-color:#f9b233;font-size:36px;color:white;text-align:center;vertical-align:middle;}
.ListScope{height:264px;position:absolute;top:0px;left:17%;list-style-type:none;z-index:6;padding:0px;}
.ListScope li{max-width:267px;max-height:268px;position:relative;margin-right:20px;float:left;}
.ProjectAlbums{width:100%;height:100%;left:0px;background-color:#FFFFFF;}
.ProjectAlbums .row1{width:100%;height:266px;position:absolute;top:40px;left:0px;}
.ProjectAlbums .row2{width:100%;height:266px;position:absolute;top:330px;left:0px;}
.ProjectAlbums div[class^="row"]{width:100%;height:266px;position:absolute;left:0px;}
.ProjectMainBox{background-color:#e4e4e3;font-size:36px;color:white;text-align:center;vertical-align:middle;}
.ProjectAlbums{background-color:#CCDDE7;}
.ListProjects{height:264px;position:absolute;top:0px;left:17%;list-style-type:none;z-index:6;padding:0px;}
.ListProjects li{max-width:267px;max-height:268px;position:relative;margin-right:20px;float:left;}
.ListScopeM{position:relative;top:0px;left:0px;list-style-type:none;z-index:6;padding:0px;}
.ListScopeM li{width:100%;position:relative;float:left;}
.ListScopeM li img{width:120px;}
.ListScopeM li .ScopeSectionTitleM{width:120px;height:25px;background-color:#e4e4e3;opacity:0.9;filter:alpha(opacity=90);color:white !important;top:50%;position:absolute;font-size:12px;text-align:center;padding-top:10px;}
.ScopeSection .firstrow .WhiteRow{width:100%;height:52px;position:absolute;top: 39.666%;background-color:#CCDDE6;}
.ScopeSection .secondrow .WhiteRow{width:100%;height:52px;position:absolute;top: 39.666%;background-color:#CCDDE6;}
.ScopeItem{border:0px solid #ddd;height: 266px;width: 266px;}
.ScopeMainItem{position:relative;}
.ScopeSectionTitle{width:100%;height:52px;background-color:#003B52;opacity:0.9;filter:alpha(opacity=90);color:white !important;top:40%;position:absolute;font-size:14px;text-align:center;padding-top:15px;overflow:hidden;left:0px;font-family:"HelveticaNeue-Bold";}
.ProjectItem{border:0px solid #ddd;}
.ProjectMainItem{position:relative;}
.ProjectSectionTitle{opacity: 0;width:266px;height:266px;display:table;color:white !important;top:0px;position:absolute;font-size:24px;text-align:center;padding-top:10px;overflow:hidden;left:0px;z-index:10;}
.ProjectSectionTitle p{display:table-cell;vertical-align:middle;text-align:center;font-family:"BankGothicBT-Medium";}
.ProjectSectionTitle:hover{opacity: 1;cursor:pointer;background-color:rgba(0,59,82,0.4);}
a.MenuItem{cursor:pointer;color:#0D6485 !important;}
a.MenuItem:hover{color:#8CC63E !important;}
.LstLogos{width:100%;position:relative;}
.LstLogos li{list-style-type:none;float:left;}
.ClientSlider{background-color:transparent !important;}
#Textcontainer{width:825px;overflow:hidden;margin: 0 auto;}
#ImageFloated{float: left;position: relative;padding-right: 20px;padding-bottom: 20px;background-color: #CCDDE7;margin-right: 10px;}
.AboutusText{font-family:"Century Gothic";font-size:12px;color:white;text-align:justify;padding:10px;background-color:#0D6485;}
.BtnReadMore{cursor:pointer;margin-bottom:10px;}
.BtnReadLess{position:relative;cursor:pointer;margin-bottom:10px;top:-35px;}
.ProjectsBtnReadMore{cursor: pointer}
.ProjectsBtnReadLess{cursor: pointer}
.ProjectsBtnReadMoreMob{cursor: pointer}
.LinkItemlist{color:white;font-family:"Century Gothic";font-size:12px;}
.LinkItemlist:hover{color:white;font-family:"Century Gothic";font-size:12px;text-decoration:underline;}
.ProjectAlbums .row1 .WhiteRow{width:100%;height:52px;position:absolute;top:42%;background-color:white;}
.ProjectAlbums .rown .WhiteRow{width:100%;height:52px;position:absolute;top:42%;background-color:white;}
.ProjectAlbums .row2 .WhiteRow{width:100%;height:52px;position:absolute;top:40%;background-color:white;}
.ProjectAlbums .row3 .WhiteRow{width:100%;height:52px;position:absolute;top:38%;background-color:white;}
.mfp-counter{display:none;}
.ProjectSectionTitleMob{width:150;height:150;background-color:#1C1C1B;opacity:0;filter:alpha(opacity=90);color:white !important;top:0px;position:absolute;font-size:24px;text-align:center;padding-top:10px;overflow:hidden;left:0px;display:table;}
.ProjectSectionTitleMob p{display:table-cell;vertical-align:middle;text-align:center;}
.ProjectSectionTitleMob:hover{opacity:1;}
#mag{color:black;background-color:white;width:29px;height:26px;}
.cont{width:80%;margin:0 auto;}
.contactusf{font-size: 0.8vw;}
.BtnReadMore2{cursor:pointer;margin-bottom:10px;}
.BtnReadLess2{position:relative;cursor:pointer;margin-bottom:10px;top:-35px;}
#AllProjects{overflow:hidden;}
.Aboutusgray{
	height: 40px;
    max-width: 823px;
    width: 100%;
    background-color: #646462;
    position: absolute;
    bottom: 177px;
}
.mobnav{
    font-family: "BankGothicBT-Light";
    font-size: 13px;
}
.copyright{text-decoration: none;color: #337ab7;left: 30px;position: relative;}
.copyright:hover{text-decoration: none;color: #337ab7;}
.designed{text-decoration: none;color: #337ab7;float: right;position: relative;right: 30px;}
.designed:hover{text-decoration: none;color: #337ab7;}
@media (max-width: 873px){#Textcontainer{width: 100%;}}
.ScopeMob{width:300px;height:130px;margin:0 auto;}
.ScopeSectionTitleMobile{width:130px;height:35px;background-color:#1C1C1B;opacity:0.9;cursor:pointer;filter:alpha(opacity=90);color:white !important;position:absolute;top:-7.51999px;font-size:13px;text-align:center;padding-top:7px;overflow:hidden;left:0px;font-family:"HelveticaNeue-Bold";}
.ScopeMobItem{position:relative;display: inline}
.WhiteRowMob{width:100%;height:35px;position:absolute;margin-top: 48px;background-color:#CCDDE6;}
.ProjMob{width:300px;margin:0 auto;height: 140px;}
.ProjMobItem{position:relative;    display: table-cell;}
.ProjMobTitle{text-align: center;font-family: "HelveticaNeue-Bold";font-size:15px;}
.GrayRowMob{width:100%;height:35px;position:absolute;margin-top: 48px;background-color:white;}
.img-responsives{}
@media screen and (max-width: 480px) {
    .img-responsives {
        width: 175px;
        height:175px;
    }
    #ImageFloated{
    width: 193px;
    height: 193px;
    padding-right: 0px;
    padding-bottom: 0px;
    }

}
@media screen and (max-width: 991px) {
    .copyright-container {
text-align:center;
    }
        .designed-container {
text-align:center;
    }
       .copyright{
        left: 0px;
       }
       .designed{
        right: 0px;
        float: none !important;
       }


}
.BtnReadMoreMob{cursor:pointer;margin-bottom:10px;}
.BtnReadLessMob{position:relative;cursor:pointer;margin-bottom:10px;top:-35px;}
.ProjectTitleMobile{
    font-family:"BankGothicBT-Medium";
	width: 130px;
    height: 131px;
    background-color: #1C1C1B;
    opacity:0.7888;
    filter: alpha(opacity=90);
    color: white !important;
    top: -57px;
    position: absolute;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
    left: 0px;
    cursor: pointer;
    display: table;}


 .mapbutton {
	-moz-box-shadow: 3px 4px 0px 0px #91b8b3;
	-webkit-box-shadow: 3px 4px 0px 0px #91b8b3;
	box-shadow: 3px 4px 0px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.mapbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.mapbutton:active {
	position:relative;
	top:1px;
}

#mobmapcont{display:none;}
@media screen and (max-width: 910px) {
	#mobmapcont{
		display:block
	}

}

@media screen and (max-width: 991px) {
    #pcmenu{
        display:none !important;
    }

    #mobilemenu{
        display:block !important;
    }

}
@media screen and (min-width: 992px) {
    #pcmenu{
        display:block !important;
    }

    #mobilemenu{
        display:none !important;
    }

}

@media screen and (max-width: 767px) {
	.AboutUsSection{
      width: 100% !important;
      height: 45% !important;
	}
	.Aboutusbanner{
      height:100% !important;
      width: 100% !important;
	}

	.Aboutusbanner ul li{
		height:100% !important;
	}
	.AboutUsTextSection {
       min-height: 535px;
       padding-left: 15px;
       padding-right: 15px;
       padding-bottom: 0px;
	}
	.Aboutusgray{
		bottom:85px;
	}

}
#loading {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 8%;
    left: 12%;
    margin: -28px 0 0 -25px;
    z-index: 0;

}

  #overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0;
    z-index:-25555;
}
#SHOWROOM-SECTION{
    background-image: url('../imgs/BACKGROUND.jpg');
    position: relative;
    height: 450px;
    background-attachment: fixed !important; 
}
#showroom_slider img{
    cursor: pointer;
}